<br />

<form #forma="ngForm">
  <input
    type="text"
    name="nombre"
    class="name"
    [(ngModel)]="customer.Nombre"
    placeholder="Nombre"
    required
  /> &nbsp;

  <input
    type="button"
    class="btn"
    value="Add Customer"
    (click)="guardar()"
    [disabled]="forma.invalid"
  />
</form>

<br />

<table border="1" id="customers">
  <tr>
    <th>Nombre</th>
  </tr>
  <tr *ngFor="let item of customers">
    <td>{{ item.Nombre }}</td>
  </tr>
</table>
